@font-face {
    font-family: 'Badscript';
    src: url('public/assets/fonts/BadScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kindergarten';
    src: url('public/assets/fonts/KGMissKindergarten.ttf') format('truetype');
}